fastapi==0.111.0
uvicorn 
Pillow 
requests 
python-dotenv 
ffmpeg-python 
numpy 
openai 
# langchain-core==0.3.0
validators 
qdrant-client
PyPDF2
pillow-heif
dependency-injector
loguru
fastapi-key-auth
black
pytest
pytest-mock
pytest-cov
flake8
mistralai==1.1.0
python-docx
deepgram-sdk
pydub
python-socketio[client]
python-socketio
anthropic==0.31.0
# langchain
Levenshtein
av
google-generativeai
playwright
firecrawl-py
undetected-playwright
PyMuPDF
pymupdf4llm==0.0.10
modal
transformers
pandas
marker-pdf
google-cloud-aiplatform 
vertexai